.container {
  width: 80%;
  margin-top: -40px;
  margin-bottom: -40px;
  margin-right: 0px;
  margin-left: 0px;
}

/*
#navbar {
  background: linear-gradient(
    135deg,
    #61155c1a 7%,
    #ba2cb01a 50%,
    #d037c51a 300%
  );
}
*/

.text {
  display: inline-block;
}

.icon {
  display: inline;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.diagram {
}


.screenshot_full_screen {
    border: 1px solid transparent; /* Set image border style */
    border-radius: 10px; /* Give images rounded edge */
    border-color: #EDEEF3; /* Image border color */

    /* Force image to keep original width and height */
    width: auto;
    height: auto;

    /* Center the image */
    display: block;
    margin: auto;
}

.screenshot_nav_bar {
    border: 1px solid transparent; /* Set image border style */
    border-radius: 10px; /* Give images rounded edge */
    border-color: #EDEEF3; /* Image border color */

    /* Force image to keep original width and height */
    width: 180px;
    height: auto;

    /* Center the image */
    display: block;
    margin: auto;
}

.screenshot_modal {
    border: 1px solid transparent; /* Set image border style */
    border-radius: 10px; /* Give images rounded edge */
    border-color: #EDEEF3; /* Image border color */

    /* Force image to keep original width and height */
    width: 450px;
    height: auto;

    /* Center the image */
    display: block;
    margin: auto;
}

/*.screenshot {
    border: 1px solid transparent; *//* Set image border style *//*
    border-radius: 10px; *//* Give images rounded edge *//*
    border-color: #EDEEF3; *//* Image border color *//*

    *//* Force image to keep original width and height *//*
    width: 400px;
    height: auto;

    *//* Center the image *//*
    display: block;
    margin: auto;
}*/

/*.container_for_screenshot {
  display: grid;
  place-items: center;
}*/

/*
table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #A9A9A9;
}

th, td {
  padding: 8px;
  display: table-cell;
}

table tr:first-child th {
  font-weight: bold;
  vertical-align: middle; */
/* Center vertically *//*

  text-align: center;
}

table tr td:first-child {
  font-weight: bold;
  vertical-align: middle; */
/* Center vertically *//*

  text-align: center;
}*/

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

table th, table td {
  width: auto;
  min-width: 230px; /*Ajustable, avoid columns to be too narrow */
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  word-wrap: break-word;
}

.six-columns th, .six-columns td {
  min-width: 100px; /* for six-column tables */
}

.six-columns-fixed-first-row {
  display: block;
  max-height: 500px; /* Adjust this value based on your needs */
  overflow-y: auto;
  position: relative;
}

.six-columns-fixed-first-row thead,
.six-columns-fixed-first-row tr:first-child {
  position: sticky;
  top: 0;
  z-index: 1;
}

.six-columns-fixed-first-row th, .six-columns-fixed-first-row td {
  min-width: 100px; /* for six-column tables */
  background-color: inherit; /* This ensures the background color is applied properly */
}

.six-columns-fixed-first-row tr:first-child th {
  background-color: #1F32D6; /* Cobo Blue */
}

.four-columns th, .four-columns td {
  min-width: 150px; /* for four-column tables */
}

/* Style the header */
table th {
  height: 37px;
  background-color: #1F32D6; /* Cobo Blue */ 
  color: white !important;
  font-weight: bold;
  vertical-align: middle;
}

/* Add left padding to the first column */
table th:first-child, table td:first-child {
  padding-left: 8px;
}
